<ion-view>
  <ion-content>
    <div class="bar bar-header bar-light">
      <h1 class="title" id="loginTitle">Demonstrate</h1>
    </div>

    <div class="list list-inset" id="loginBoard">
      <form name="loginForm" ng-submit="login()">
        <label class="item item-input">
          <input type="email" placeholder="Enter Email" name="useremail" ng-model="loginData.username" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" name="userpassword" ng-model="loginData.password" required>
        </label>
        <div id="loginButton">
          <input type="submit" class="button  button-block button-positive" value="Login">
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>
